.img{
    height: 330px;
    width: 280px;
    margin: 15px;
}
.activityHeading{
    margin:15px;
    border:1px solid gold;
    width: 280px;
    text-align: center;
    background-color:#20232A;
    padding:10px;
    border-radius: 8px;
    margin-top: -28px;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    
}